*.1 linguist-language=1 linguist-vendored=false
*.all-contributorsrc linguist-language=All-contributorsrc linguist-vendored=false
*.apache linguist-language=Apache linguist-vendored=false
*.applescript linguist-language=Applescript linguist-vendored=false
*.auditignore linguist-language=Auditignore linguist-vendored=false
*.auto-changelog linguist-language=Auto-changelog linguist-vendored=false
*.babelrc linguist-language=Babelrc linguist-vendored=false
*.bak linguist-language=Bak linguist-vendored=false
*.bin linguist-language=Bin linguist-vendored=false
*.bnf linguist-language=Bnf linguist-vendored=false
*.bowerrc linguist-language=Bowerrc linguist-vendored=false
*.browserslistrc linguist-language=Browserslistrc linguist-vendored=false
*.bsd linguist-language=Bsd linguist-vendored=false
*.c linguist-language=C linguist-vendored=false
*.cc linguist-language=Cc linguist-vendored=false
*.cert linguist-language=Cert linguist-vendored=false
*.cjs linguist-language=Cjs linguist-vendored=false
*.closure-compiler linguist-language=Closure-compiler linguist-vendored=false
*.cmd linguist-language=Cmd linguist-vendored=false
*.coffee linguist-language=Coffee linguist-vendored=false
*.conf linguist-language=Conf linguist-vendored=false
*.covignore linguist-language=Covignore linguist-vendored=false
*.css linguist-language=CSS linguist-vendored=false
*.csslintrc linguist-language=Csslintrc linguist-vendored=false
*.cts linguist-language=Cts linguist-vendored=false
*.d linguist-language=D linguist-vendored=false
*.def linguist-language=Def linguist-vendored=false
*.dockerignore linguist-language=Docker linguist-vendored=false
*.docs linguist-language=Docs linguist-vendored=false
*.editorconfig linguist-language=Editorconfig linguist-vendored=false
*.ejs linguist-language=Ejs linguist-vendored=false
*.env linguist-language=Env linguist-vendored=false
*.eot linguist-language=Eot linguist-vendored=false
*.eslintcache linguist-language=Eslintcache linguist-vendored=false
*.eslintignore linguist-language=Eslintignore linguist-vendored=false
*.eslintrc linguist-language=Eslintrc linguist-vendored=false
*.esprima linguist-language=Esprima linguist-vendored=false
*.exe linguist-language=Exe linguist-vendored=false
*.flow linguist-language=Flow linguist-vendored=false
*.focus-visible linguist-language=Focus-visible linguist-vendored=false
*.gif linguist-language=Gif linguist-vendored=false
*.gitattributes linguist-language=Git linguist-vendored=false
*.gitignore linguist-language=Git linguist-vendored=false
*.gitkeep linguist-language=Gitkeep linguist-vendored=false
*.gyp linguist-language=Gyp linguist-vendored=false
*.gypi linguist-language=Gypi linguist-vendored=false
*.h linguist-language=H linguist-vendored=false
*.html linguist-language=HTML linguist-vendored=false
*.ico linguist-language=Ico linguist-vendored=false
*.iml linguist-language=Iml linguist-vendored=false
*.jison linguist-language=Jison linguist-vendored=false
*.jpeg linguist-language=Jpeg linguist-vendored=false
*.jpg linguist-language=Jpg linguist-vendored=false
*.js linguist-language=JavaScript linguist-vendored=false
*.jscsrc linguist-language=Jscsrc linguist-vendored=false
*.jshintrc linguist-language=Jshintrc linguist-vendored=false
*.jsm linguist-language=Jsm linguist-vendored=false
*.json linguist-language=JSON linguist-vendored=false
*.jst linguist-language=Jst linguist-vendored=false
*.key linguist-language=Key linguist-vendored=false
*.less linguist-language=Less linguist-vendored=false
*.licence linguist-language=Licence linguist-vendored=false
*.license linguist-language=License linguist-vendored=false
*.lock linguist-language=Lock linguist-vendored=false
*.log linguist-language=Log linguist-vendored=false
*.makefile linguist-language=Makefile linguist-vendored=false
*.map linguist-language=Map linguist-vendored=false
*.markdown linguist-language=Markdown linguist-vendored=false
*.md linguist-language=Markdown linguist-vendored=false
*.mdown linguist-language=Mdown linguist-vendored=false
*.md~ linguist-language=Md~ linguist-vendored=false
*.mjs linguist-language=Mjs linguist-vendored=false
*.mk linguist-language=Mk linguist-vendored=false
*.mkd linguist-language=Mkd linguist-vendored=false
*.mli linguist-language=Mli linguist-vendored=false
*.mts linguist-language=Mts linguist-vendored=false
*.ncurc linguist-language=Ncurc linguist-vendored=false
*.nix linguist-language=Nix linguist-vendored=false
*.node linguist-language=Node linguist-vendored=false
*.npmignore linguist-language=Npmignore linguist-vendored=false
*.nvmrc linguist-language=Nvmrc linguist-vendored=false
*.nycrc linguist-language=Nycrc linguist-vendored=false
*.o linguist-language=O linguist-vendored=false
*.old linguist-language=Old linguist-vendored=false
*.opts linguist-language=Opts linguist-vendored=false
*.pegjs linguist-language=Pegjs linguist-vendored=false
*.php linguist-language=PHP linguist-vendored=false
*.png linguist-language=Png linguist-vendored=false
*.prettierrc linguist-language=Prettierrc linguist-vendored=false
*.py linguist-language=Python linguist-vendored=false
*.pyc linguist-language=Pyc linguist-vendored=false
*.sass linguist-language=Sass linguist-vendored=false
*.scss linguist-language=Scss linguist-vendored=false
*.sh linguist-language=Bash linguist-vendored=false
*.snap linguist-language=Snap linguist-vendored=false
*.snyk linguist-language=Snyk linguist-vendored=false
*.svg linguist-language=Svg linguist-vendored=false
*.swf linguist-language=Swf linguist-vendored=false
*.tm_properties linguist-language=Tm_properties linguist-vendored=false
*.ts linguist-language=TypeScript linguist-vendored=false
*.tsbuildinfo linguist-language=Tsbuildinfo linguist-vendored=false
*.tsx linguist-language=Tsx linguist-vendored=false
*.ttf linguist-language=Ttf linguist-vendored=false
*.txt linguist-language=Text File linguist-vendored=false
*.wasm linguist-language=Wasm linguist-vendored=false
*.watchr linguist-language=Watchr linguist-vendored=false
*.woff linguist-language=Woff linguist-vendored=false
*.xml linguist-language=Xml linguist-vendored=false
*.yml linguist-language=YAML linguist-vendored=false
Dockerfile linguist-language=Docker linguist-vendored=false
docker-compose.yml linguist-language=Docker linguist-vendored=false
epa2/app/build/main.8fa1db9635d34e09c1c0.js filter=lfs diff=lfs merge=lfs -text
